@model PesaPrint.MPESA.Models.Shop

@{
    ViewBag.Title = "Delete";
}

<h2><i class="fa fa-trash-o"></i> &nbsp;Delete</h2>

<div role="alert" class="alert alert-danger" style="width:65%">
    <strong>Warning!</strong> Are you sure you want to delete this? 
</div>
<div id="panelChart9" ng-controller="FlotChartController" class="panel panel-default" style="width:65%">

    <div class="panel-heading" style="height:30px">

        <h4>Shop Details&nbsp;</h4>

    </div>

    <div class="dl-horizontal">
        <hr />
        <dl >
            <dt>
                @Html.DisplayNameFor(model => model.Merchant.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Merchant.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AgentNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AgentNumber)
            </dd>

        </dl>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <footer class="panel-footer"   align="right">
            <input type="submit" value="Delete" class="btn btn-danger" style="height:32px" /> &nbsp;
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success", @style = "height:32px" })
        </footer>
    </div>
    }
</div>
